

footer{
    background-color: black;
    text-align: center;
    width: 100%;
    color: white;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-top: 20px;
    bottom: 0;
    position:fixed;
}