<div class="flex flex-col w-full my-5">
  <div class="mt-10 w-full">
    <h1 class="texth1">Últimas Recetas</h1>
  </div>

  <div class="mt-5 flex flex-col items-center form-container">
    <app-receipt-container [receipes]="recipes"></app-receipt-container>
  </div>

  <div class="mt-1 w-full">
    <h1 class="texth1">Chefs más populares</h1>
  </div>

  <div
    class="mt-5 flex flex-col items-center form-container"
    fxLayout="row"
    fxLayoutGap="40px"
  >
    <mat-card
      fxFlex="33%"
      [class.mat-elevation-z4]="true"
      class="example-card2"
      *ngFor="let chef of chefs"
    >
      <div class="flex-0 w-80 md:w-64">
        <img mat-card-image [src]="'data:image/jpeg;base64,'+chef.profilePictureUrl" [alt]="chef.name" />
      </div>

      <mat-card-content>
        <mat-card-title>{{ chef.name }}</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
</div>
