<div [class]="displayType">
  <mat-card
    
    [class.mat-elevation-z4]="true"
    
    *ngFor="let recipe of receipes"
  >
    <mat-card-title-group>
      <mat-card-title>{{ recipe.name }}</mat-card-title>
      <mat-card-subtitle class="subtitle">
        {{ recipe.preparation }}
        <p>Ingredientes: {{ getIngredients(recipe) }}</p>
      </mat-card-subtitle>

      <div class="flex-0 w-80 md:w-64">
        <img
          mat-card-lg-image
          
          [src]="'data:image/jpeg;base64,'+recipe.multimedia[0]!.url!"
          alt="Photo generic of food"
        />
      </div>
    </mat-card-title-group>
    <mat-card-footer>
      <a
        [routerLink]="['/detalleReceta', recipe.id]"
        mat-raised-button
        color="primary"
        >Ver receta completa</a
      >
    </mat-card-footer>
  </mat-card>
</div>
